@model TreinoSaep.Models.Chamado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chamado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Setor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statuss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statuss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idchamado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
